.doc .paragraph .title {
  font-weight: var(--body-font-weight-bold);
}

.doc .listingblock.dot {
  height: 400px;
  overflow: scroll;
  border: 2px solid var(--note-color);
}

.admonitionblock td.icon .icon-::before {
  content: "\f088";
  color: #f58220;
}

.doc .admonitionblock.deprecated .icon {
  background-color: var(--deprecation-color);
  color: var(--deprecation-on-color);
}

.doc .admonitionblock.deprecated .icon i::after {
  content: 'DEPRECATED';
}

.doc .admonitionblock.deprecated {
  background: var(--colour-orange-300);
  color: var(--colour-orange-800);
  border-left-color: var(--colour-orange-800);
}

.doc .admonitionblock.deprecated pre {
  background-color: var(--colour-red-100);
  color: var(--colour-red-700);
}

.doc .admonitionblock.deprecated a {
  color: var(--colour-blue-600);
}

.doc pre {
  font-size: calc(14 / var(--rem-base) * 1rem);
}

.doc .paragraph.statsonlyqueryresult {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: calc(14 / var(--rem-base) * 1rem);
  background-color: var(--colour-grey-200);
  margin: 0;
  margin-top: -1.5rem;
  margin-right: 30%;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
}

/* GDS */

body.alpha article h1::after,
body.beta article h1::after {
  text-align: center;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 0.6em;
  position: relative;
  box-sizing: border-box;
  padding: 5px 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  bottom: 2px;
  margin-left: 8px;
  color: var(--alpha-beta-color);
}

body.alpha article h1::after {
  content: "alpha";
}

body.beta article h1::after {
  content: "beta";
}

div.tier-note p {
  padding: 10px;
  /* text-align: justify; */
}

div.tier-note p::before {
  border-right: thin solid var(--colour-grey-400);
  padding: 0 10px;
  margin-right: 10px;
  font-family: fantasy;
  font-size: 2rem;
  color: var(--alpha-beta-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

div.alpha-symbol p::before {
  content: "\03b1";
}

div.beta-symbol p::before {
  content: "\03b2";
}
